counter/generated_afid.sh
counter/build/checkpoints/
counter/build/constraints/generated_cl_clocks_aws.xdc
counter/build/reports/
counter/build/src_post_encryption/
counter/build/scripts/hd_visual/
counter/build/scripts/*.jou
counter/build/scripts/.Xil/
counter/build/scripts/*.vivado.log
counter/build/scripts/*.txt
counter/verif/sim/
counter/software/runtime/counter

*sim_test
*build.log
*Catapult
*catapult.pinfo
*Catapult.ccs
*catapult.log
*default.fsdb
*inter.fsdb*
*novas.conf
*novas.rc
*novas_dump.log
*ucli.key
*verdiLog

# Log files
**/logs/
*.rpt

# Temporary files
**/DS_Store
*.nfs*
_*

# IDE files
.vscode/
.idea/
.clangd
.clang-format
compile_flags.txt
CMakeLists.txt

# symbolic links to include directories
systemc
matchlib
systemc/
matchlib/

# AWS PEM Files for EC2 Instances
*.pem
# AWS IAM Access Keys
*_accessKeys.csv
# log files
*.log
